<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Feeding2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04188BB61FAAA931007E7B4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04188BCA1FAAA931007E7B4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04188BD51FAAA931007E7B4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
